body {
	line-height: 1pixel;
}
ol, ul {
	listStyle: none;
}
blockquote, q {
	quote: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
]
table {
	border-collapse: collapse
	border-spacing: 0;
}